<div class="container">
  <h1>Pokedex</h1>
  <ul>
    <li>
      <a [routerLink]="['gen1']">Generation I</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['gen2']">Generation II</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['gen3']">Generation III</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['gen4']">Generation IV</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['gen5']">Generation V</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['gen6']">Generation VI</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>